
<p>Total topics: <%= Topic.count %></p>


<p>Total comments: <%= Comment.count %></p>


<p>Total users: <%= User.count %></p>

<p>
  <a href="#" id="insert-image">Insert Image</a>
  <a href="#" id="insert-script">Insert Script</a>
</p>

<p>
  <a href="/ajaxtest" id="ajax-load1">Load HTML</a>
  <a href="/ajaxtest" id="ajax-load2">Load Script</a>
  <a href="/ajaxtest" id="ajax-load3">Load JSON</a>
</p>

<div id="demo"></div>

<div id="ajax-progress" class="progress">
  <div class="progress-bar progress-bar-striped active" style="width: 100%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>

<script>

$("#insert-image").click(function(){
  var img = $("<img src='https://ihower.tw/photo1.jpg' width='100'>");

  $("#demo").append(img);
})

$("#insert-script").click(function(){
 var script = '<script src="https://ihower.tw/test.js">'
 script += '<';
 script += '/script>';

  $("#demo").append(script);
  console.log("foo is: " + foo);
})

$("#ajax-progress").hide();

$("#ajax-load1").click(function(e){
  e.preventDefault();
  var url = $(this).attr("href");
  $.ajax(url, {
    success: function(res) {
      $("#demo").append(res);
    },
    error: function(res, error_type, error_msg) {
      console.log(res);
      console.log(error_type);
      console.log(error_msg);
    },
    beforeSend: function() {
      $("#ajax-progress").show();
    },
    complete: function() {
      $("#ajax-progress").hide();
    }
  })
})

$("#ajax-load2").click(function(e){
  e.preventDefault();
  var url = $(this).attr("href");
  $.ajax(url, {
    dataType: 'script'
  })
})

$("#ajax-load3").click(function(e){
  e.preventDefault();
  var url = $(this).attr("href");
  $.ajax(url, {
    dataType: 'json',
    success: function(data) {
      console.log(data);
    }
  })
})

</script>
