
<p>Total topics: <%= Topic.count %></p>


<p>Total comments: <%= Comment.count %></p>


<p>Total users: <%= User.count %></p>

<p>
  <a href="#" id="insert-image">Insert Image</a>
  <a href="#" id="insert-script">Insert Script</a>
</p>

<p>
  <a href="/ajaxtest" id="ajax-load">Load HTML</a>
</p>

<div id="demo"></div>

<script>

$("#insert-image").click(function(){
  var img = $("<img src='https://ihower.tw/photo1.jpg' width='100'>");

  $("#demo").append(img);
})

$("#insert-script").click(function(){
 var script = '<script src="https://ihower.tw/test.js">'
 script += '<';
 script += '/script>';

  $("#demo").append(script);
  console.log("foo is: " + foo);
})

$("#ajax-load").click(function(e){
  e.preventDefault();
  var url = $(this).attr("href");
  $.ajax(url, {
    success: function(res) {
      $("#demo").append(res);
    },
    error: function(res, error_type, error_msg) {
      console.log(res);
      console.log(error_type);
      console.log(error_msg);
    }
  })
})
</script>
